cfg/dtd/config.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT root (option*, langs*)>
    <!ELEMENT option (#PCDATA)>
        <!ATTLIST option id ID #REQUIRED>
        <!ATTLIST option value CDATA #REQUIRED>
    <!ELEMENT langs (lang*)>
        <!ATTLIST langs id ID #REQUIRED>
        <!ATTLIST langs value CDATA #REQUIRED>
